<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_waist_ros2_control"
    params="name plugin:=fake transmission_type:=simple command_interface:=effort initial_positions">
    <ros2_control name="${name}"
      type="system">
      <xacro:ros2_control-hardware plugin="${plugin}" />

      <xacro:if value="${transmission_type == 'simple'}">
        <xacro:ros2_control-simple_transmission joint_name="waist1_p"
          initial_positions="${initial_positions}"
          act_reduction="1.0"
          jnt_reduction="1.0" />

        <xacro:ros2_control-simple_transmission joint_name="waist2_y"
          initial_positions="${initial_positions}"
          act_reduction="1.0"
          jnt_reduction="1.0" />
      </xacro:if>
    </ros2_control>
  </xacro:macro>
</robot>