<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_sensors_ros2_control"
    params="name plugin:=fake ">
    <ros2_control name="${name}"
      type="system">
      <xacro:ros2_control-hardware plugin="${plugin}" />
      <joint name="pelvis_imu"/>
      <xacro:ros2_control-sensor_imu sensor_name="pelvis_imu"
        frame_id="pelvis_imu_frame" />
    </ros2_control>
  </xacro:macro>
</robot>