<?xml version="1.0"?>
<!-- Xacro for GR1T2 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find human_description)/robots/common/utils.xacro" />


  <xacro:macro name="robot_waist"
    params="robot_id description_pkg:='human_description' prefix:='' connected_to:='base_link' joint_fixed:=false
      joint_limits
      inertials
      kinematics
      dynamics mesh_scale:='1 1 1' with_sc:=false ros2_control_plugin:='fake'
  ">
    <xacro:property name="gazebo"
      value="$(eval 'true' if ros2_control_plugin == 'gazebo' else 'false')"/>

    <xacro:if value="${joint_fixed}">
      <xacro:property name="joint_type"
        value="fixed"/>
    </xacro:if>
    <xacro:unless value="${joint_fixed}">
      <xacro:property name="joint_type"
        value="revolute"/>
    </xacro:unless>

    <xacro:property name="joint1"
      value="waist1_y"/>
    <xacro:property name="joint2"
      value="waist2_p"/>
    <xacro:property name="joint3"
      value="trunk"/>

    <!-- waist pitch -->
    <xacro:robot-link name="${joint1}_link"
      prefix="${prefix}"
      material_name="metal"
      gazebo="${gazebo}"
      mesh_scale="${mesh_scale}"/>
    <xacro:robot-joint joint_name="${prefix}${joint1}_joint"
      joint_type="${joint_type}"
      parent="${connected_to}"
      child="${prefix}${joint1}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      inertials="${inertials}"
      dynamics="${dynamics}"/>

    <!-- waist yaw -->
    <xacro:robot-link name="${joint2}_link"
      prefix="${prefix}"
      material_name="metal"
      gazebo="${gazebo}"
      mesh_scale="${mesh_scale}"/>
    <xacro:robot-joint joint_name="${prefix}${joint2}_joint"
      joint_type="${joint_type}"
      parent="${prefix}${joint1}_link"
      child="${prefix}${joint2}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      inertials="${inertials}"
      dynamics="${dynamics}"/>


  </xacro:macro>
</robot>