<?xml version="1.0"?>
<!-- Xacro for GR1T2 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find tendon_description)/xacro/common/utils.xacro" />


  <xacro:macro name="robot_leg"
    params="robot_id description_pkg:='human_description' prefix:='' connected_to:='base_link' 
      joint_limits
      inertials
      kinematics
      dynamics mesh_scale:='1 1 1' joint_fixed:=false with_sc:=false ros2_control_plugin:='fake' 
  ">
    <xacro:property name="gazebo"
      value="$(eval 'true' if ros2_control_plugin == 'gazebo' else 'false')" />

    <xacro:if value="${joint_fixed}">
      <xacro:property name="joint_type"
        value="fixed" />
    </xacro:if>
    <xacro:unless value="${joint_fixed}">
      <xacro:property name="joint_type"
        value="revolute" />
    </xacro:unless>

    <xacro:property name="joint1"
      value="hip_roll" />
    <xacro:property name="joint1_1"
      value="hip_roll_axis" />

    <xacro:property name="joint2"
      value="hip_yaw" />
    <xacro:property name="joint2_1"
      value="hip_yaw_axis" />

    <xacro:property name="joint3"
      value="hip_pitch" />
    <xacro:property name="joint3_1"
      value="hip_pitch_axis" />

    <xacro:property name="joint4"
      value="knee_pitch" />
    <xacro:property name="joint5"
      value="ankle_pitch" />
    <xacro:property name="joint6"
      value="ankle_roll" />


    <xacro:unless value="${not connected_to}">
      <xacro:cylinder-link name="${connected_to}"
        radius="0.03"
        length="0.05"
        material_name="purple"
        gazebo="${gazebo}"
        mass="0.5" />
    </xacro:unless>

    <!-- hip roll -->
    <xacro:cylinder-link name="${joint1}_link"
      prefix="${prefix}"
      xyz="0 0 0 "
      rpy="0 0 0"
      radius="0.02"
      length="0.03"
      material_name="green"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint1}_joint"
      joint_type="${joint_type}"
      parent="${connected_to}"
      child="${prefix}${joint1}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <xacro:capsule-link name="${joint1_1}_link"
      prefix="${prefix}"
      xyz="0 0 0.04175"
      rpy="0 0 0"
      direction="z"
      radius="0.01"
      length="0.1"
      material_name="yellow"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint1_1}_fixed_joint"
      joint_type="fixed"
      parent="${prefix}${joint1}_link"
      child="${prefix}${joint1_1}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <!-- hip yaw -->
    <xacro:cylinder-link name="${joint2}_link"
      prefix="${prefix}"
      xyz="0 0 0 "
      rpy="0 0 0"
      radius="0.02"
      length="0.03"
      material_name="green"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint2}_joint"
      joint_type="${joint_type}"
      parent="${prefix}${joint1}_link"
      child="${prefix}${joint2}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <xacro:capsule-link name="${joint2_1}_link"
      prefix="${prefix}"
      xyz="0 0 ${-0.122575880574935/2}"
      rpy="0 0 0"
      direction="z"
      radius="0.01"
      length="0.1"
      material_name="yellow"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint2_1}_fixed_joint"
      joint_type="fixed"
      parent="${prefix}${joint2}_link"
      child="${prefix}${joint2_1}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <!-- hip pitch -->
    <xacro:cylinder-link name="${joint3}_link"
      prefix="${prefix}"
      xyz="0 0 0 "
      rpy="0 0 0"
      radius="0.02"
      length="0.03"
      material_name="green"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint3}_joint"
      joint_type="${joint_type}"
      parent="${prefix}${joint2}_link"
      child="${prefix}${joint3}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <xacro:capsule-link name="${joint3_1}_link"
      prefix="${prefix}"
      xyz="0 ${0.29/2} 0"
      rpy="0 0 0"
      direction="y"
      radius="0.01"
      length="0.1"
      material_name="yellow"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint3_1}_fixed_joint"
      joint_type="fixed"
      parent="${prefix}${joint3}_link"
      child="${prefix}${joint3_1}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />


    <!-- knee -->
    <!-- <xacro:robot-link name="${joint4}_link"
      prefix="${prefix}"
      material_name="metal"
      gazebo="${gazebo}" /> -->
    <xacro:cylinder-link name="${joint4}_link"
      prefix="${prefix}"
      xyz="0 0 0 "
      rpy="0 0 0"
      radius="0.02"
      length="0.03"
      material_name="green"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />

    <xacro:robot-joint joint_name="${prefix}${joint4}_joint"
      joint_type="${joint_type}"
      parent="${prefix}${joint3}_link"
      child="${prefix}${joint4}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <!-- ankle pitch -->
    <!-- <xacro:robot-link name="${joint5}_link"
      prefix="${prefix}"
      material_name="metal"
      gazebo="${gazebo}" /> -->
    <xacro:cylinder-link name="${joint5}_link"
      prefix="${prefix}"
      xyz="0 0 0 "
      rpy="0 0 0"
      radius="0.02"
      length="0.03"
      material_name="green"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />

    <xacro:robot-joint joint_name="${prefix}${joint5}_joint"
      joint_type="${joint_type}"
      parent="${prefix}${joint4}_link"
      child="${prefix}${joint5}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

    <!-- ankle roll -->
    <!-- <xacro:robot-link name="${joint6}_link"
      prefix="${prefix}"
      material_name="metal"
      gazebo="${gazebo}" /> -->
    <xacro:cylinder-link name="${joint6}_link"
      prefix="${prefix}"
      xyz="0 0 0 "
      rpy="0 0 0"
      radius="0.02"
      length="0.03"
      material_name="green"
      alpha="0.7"
      gazebo="${gazebo}"
      mass="0.1" />
    <xacro:robot-joint joint_name="${prefix}${joint6}_joint"
      joint_type="${joint_type}"
      parent="${prefix}${joint5}_link"
      child="${prefix}${joint6}_link"
      joint_limits="${joint_limits}"
      kinematics="${kinematics}"
      dynamics="${dynamics}" />

  </xacro:macro>
</robot>